<h1 class="text-center m-4">All Lists</h1>

<div class="d-flex flex-column bg-secondary w-25">
  <% @lists.each do |list| %>
    <%= link_to "Go to '#{list.name}'", list_path(list), class:" rounded text-decoration-none ml-4 my-4 text-light p-1" %>
  <% end %>
</div>
