<h1 class="text-white text-center">Create A List</h1>

<div class="w-25 mx-4 text-white">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class:"text-white bg-success" %>
  <% end %>
</div>
